@import "../../_var";

.section-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--m18);

    &__line {
        flex: 1;
        max-width: unit((340 / 16), rem);
        height: 1px;
        background: linear-gradient(90deg, transparent, @cStroke);

        &--is-right {
            background: linear-gradient(90deg, @cStroke, transparent);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--m8);
    }

    &__title {
        margin: 0;
        text-transform: uppercase;
        white-space: nowrap;
        font: 400 var(--fs32) / 1 @font;
        letter-spacing: var(--letter-spacing);
        color: @cWhite;
    }

    &__title-sub {
        display: inline-flex;
        gap: var(--m4);
        font: 400 var(--fs12) / 1.2 @font;
        letter-spacing: var(--letter-spacing);
        color: @cGray800;
        text-align: center;
    }

    &__sub-box {
        color: @cRed500;
        animation: blink 1.2s step-end infinite;

    }

    @media @mediaSm {
        &__title {
            font-size: var(--fs24);
        }
    }
}