@import "../../_var";

/**
* Стили для VUE transition
**/

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.v-enter-active {
    .transit(opacity, @transitTimeMedium);
}

.v-leave-active {
    .transit(opacity, (@transitTimeMedium / 2));
}

.v-enter-from, .v-leave-to {
    opacity: 0;
}

// Transition group
.list-grid-enter-active,
.list-grid-leave-active {
    .transit(~'grid-template-rows', 0.4s);
}

.list-grid-enter-active,
.list-grid-leave-active {
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;

    > * {
        min-height: 0;
    }
}

.list-grid-enter-from,
.list-grid-leave-to {
    grid-template-rows: 0fr;
}

// Toast
.toast-enter-active,
.toast-leave-active {
    .transit(~'opacity, transform', 0.3s);
}

.toast-enter-from {
    opacity: 0;
    transform: translateX(100%);
}

.toast-leave-to {
    opacity: 0;
    transform: translateX(0);
}

// --- Slide transition ---
.slide-enter-from,
.slide-leave-to {
    transform: translateX(100%); /* или 100% если меню справа */
}


.slide-enter-active,
.slide-leave-active {
    .transit(~'transform', @transitTimeMedium);
}

.slide-enter-to,
.slide-leave-from {
    transform: translateX(0);
}
