@import "../_var.less";

/**
 * Базовые стили верстки
 **/

:root {
    .css-vars();
}

html {
    height: 100%;
    min-height: 100vh;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-size: min(var(--fs-base), var(--fs-base-max));
}

* {
    -webkit-tap-highlight-color: transparent
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: calc(100 * var(--vh));
    min-width: 360px;
    width: 100%;
    background: var(--page-bg-color);
    color: var(--page-text-color);
    font: 400 1rem / 1.4 @font;
    letter-spacing: var(--letter-spacing);

    h1, h2, h3, h4, h5, p {
        margin: 0;
    }

    * {
        font-synthesis: none;
        overflow-anchor: none;
    }

    .body {
        &--loaded {
            scrollbar-gutter: stable;
        }
    }
}

.content-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: var(--content-width);
}
