@import "../_var";

:root {
    .css-vars();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: @cBlack900;
    color: @cWhite200;
    font-family: @font;
    overflow-x: hidden;
}

.skynet-landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}