# Compose project name
COMPOSE_PROJECT_NAME=skynet-nuxt

# Registry & Image (production)
DOCKER_REGISTRY=ghcr.io
DOCKER_IMAGE=skynet-nuxt
VERSION=latest

# App configuration
NODE_ENV=production
APP_PORT=3000

# Nuxt configuration
# NUXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
# NUXT_PUBLIC_SITE_URL=https://example.com