@import "../../_var";

.promo-block {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 var(--page-gutter);

    &::before {
        .pseudo();
        inset: 0;
        background: radial-gradient(circle at 20% 50%, fade(@cRed500, 10) 0%, transparent 50%),
        radial-gradient(circle at 80% 80%, fade(@cRed500, 5) 0%, transparent 50%);
        z-index: 0;
    }

    &__content {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--grid-gap);
        justify-content: space-between;
        min-height: calc(100vh - var(--default-header-height));
        box-sizing: border-box;
        padding: var(--m48) 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: var(--m24);
        z-index: 1;
    }

    &__title {
        font: 900 var(--fs40) / 1.4 @fontOrbitron;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing);
    }

    &__description {
        font: 700 var(--fs16) / 1.4 @fontOrbitron;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing);
    }

    &__group-btns {
        display: flex;
        gap: var(--m24);
    }

    &__node-info {
        display: flex;
        flex-direction: column;
        gap: var(--m8);
        box-sizing: border-box;
        padding: var(--m12) var(--m8);
        border: 1px solid fade(@cWhite, 8);
        border-radius: var(--m4);
    }

    &__node-info-row {
        display: flex;
        align-items: center;
        gap: var(--m4);
        color: fade(@cWhite, 60);
    }

    &__node-info-icon {
        .container(1rem);

        svg, span {
            .size(100%);
        }
    }

    &__node-info-value {
        text-transform: uppercase;
        font: 400 var(--fs16) / 1 @font;
        letter-spacing: var(--letter-spacing);
    }

    &__globus {
        position: relative;
        margin: calc(-1 * var(--m48)) calc(-1 * var(--page-gutter));
        z-index: 0;
    }

    &__globus-fallback {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }

    @media @mediaMoreSm {
        margin-top: calc(-1 * var(--default-header-height));
        padding-top: calc(var(--default-header-height));

        &__info,
        &__globus {
            grid-column: 1;
            grid-row: 1;
        }

        &__info {
            max-width: 50%;
        }

        &__node-info {
            max-width: unit((300 / 16), rem);
        }

        &__title {
            max-width: unit((680 / 16), rem);
        }

        &__description {
            max-width: unit((300 / 16), em);
        }
    }

    @media @mediaSm {
        &__title {
            font-size: var(--fs22);
        }

        &__content {
            grid-template-columns: 100%
        }

        &__globus {
            display: none;
        }

        &__group-btns {
            flex-direction: column;
            gap: var(--m16);
        }
    }
}