@import "../../_var";

.promo-block {
    position: relative;
    overflow: hidden;

    &::before {
        .pseudo();
        inset: 0;
        background: radial-gradient(circle at 20% 50%, fade(@cRed500, 10) 0%, transparent 50%),
        radial-gradient(circle at 80% 80%, fade(@cRed500, 5) 0%, transparent 50%);
        z-index: 0;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--grid-gap);
        justify-content: space-between;
        min-height: 100vh;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: var(--m24);
        z-index: 1;
    }

    &__title {
        max-width: unit((600 / 48), em);
        font: 900 var(--fs40) / 1.4 @fontOrbitron;
        text-transform: uppercase;
    }

    &__description {
        max-width: unit((300 / 16), em);
        font: 700 var(--fs16) / 1.4 @fontOrbitron;
        text-transform: uppercase;
    }

    &__group-btns {
        display: flex;
        gap: var(--m24);
    }
}