@import "../../_var.less";

.btn {
    --btn-bg-color: @cRed500;
    --btn-border-color: @cRed500;
    --btn-color: @cWhite;
    --btn-icon-color: currentColor;

    --btn-hover-bg-color: fade(@cBlack900, 8);
    --btn-hover-border-color: fade(@cRed500, 8);
    --btn-hover-color: @cWhite;
    --btn-hover-icon-color: currentColor;

    --btn-active-bg-color: color-mix(in hsl, var(--btn-hover-bg-color) 86%, transparent);
    --btn-active-border-color: color-mix(in hsl, var(--btn-hover-border-color) 86%, transparent);
    --btn-active-color: color-mix(in hsl, var(--btn-hover-color) 86%, transparent);
    --btn-active-icon-color: currentColor;

    --btn-disabled-bg-color: color-mix(in hsl, var(--btn-bg-color) 32%, transparent);
    --btn-disabled-border-color: color-mix(in hsl, var(--btn-border-color) 32%, transparent);
    --btn-disabled-color: color-mix(in hsl, var(--btn-color) 48%, transparent);
    --btn-disabled-icon-color: currentColor;

    --btn-border-width: 1px;
    --btn-height: 3rem;
    --btn-icon-gap: var(--m8);
    --btn-padding: 0 var(--m24);
    --btn-border-radius: 0;
    --btn-icon-size-container: 1.5rem;
    --btn-icon-size: 1rem;

    --btn-box-shadow: calc(-1 * 0.125rem) 0.125rem 0.75rem 0 fade(@cWhite, 10) inset;

    --btn-fw: 500;
    --btn-fs: var(--fs16);
    --btn-font: @font;

    --btn-text-flex-grow: 0;
    --btn-blur-size: .1rem;

    .clear-link();
    .clear-btn();
    .transit(~'opacity, color, border-color, background-color, box-shadow');
    .blur(var(--btn-blur-size));
    position: relative;
    display: inline-flex;
    margin: 0; // fix ненужных отступов ios
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: var(--btn-icon-gap);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
    height: var(--btn-height);
    padding: var(--btn-padding);
    white-space: nowrap;
    text-align: center;
    user-select: none;
    flex-shrink: 0;
    font: var(--btn-fw) var(--btn-fs) var(--btn-font);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;

    &:not(.btn--bordered) {
        @hoverRuleset: {
            .btn {
                &__line {
                    &:before, &:after {
                        transition-delay: 0s;
                        width: 20%;
                        opacity: 1;
                    }

                    &:before {
                        left: 0;
                    }

                    &:after {
                        right: 0;
                    }

                    span {
                        &:before, &:after {
                            height: 50%;
                            transition-delay: 0.45s;
                        }
                    }
                }

                &__line-2 {
                    background: transparent;
                    transition-delay: 0s;
                    opacity: 0;
                }
            }
            box-shadow: var(--btn-box-shadow);
            transition-delay: 0.5s;
            transition-duration: .5s;
        }

        .hover(@hoverRuleset: @hoverRuleset, @activeRuleset: @activeRuleset);
    }

    @activeRuleset: {
        .btn-active();
    }

    &__icon {
        .transit(~'opacity, color');
        .container(var(--btn-icon-size-container));
        color: var(--btn-icon-color);
        position: relative;

        svg, span {
            .size(var(--btn-icon-size));
        }
    }

    &__picture {
        .transit(~'opacity');
        .container(var(--btn-icon-size-container));
        .picture-fit(
            @fit: contain,
            @width: var(--btn-icon-size),
            @height: var(--btn-icon-size)
        );
    }

    &__text {
        position: relative;
        text-align: left;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: var(--btn-text-flex-grow);
    }

    &__line {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.225s;
        transition-delay: 0.15s;

        &:before, &:after {
            .pseudo();
            opacity: 0;
            height: var(--btn-border-width);
            display: block;
            background: @cRed500;
            transition: all 0.375s;
            transition-delay: 0.3s;
        }

        &:before {
            top: 0;
            left: calc(50% - 30%);
        }

        &:after {
            bottom: 0;
            right: calc(50% - 30%);
        }

        span {
            &:before, &:after {
                .pseudo();
                height: 0;
                transition-delay: 0s;
                background: @cRed500;
                display: block;
                width: var(--btn-border-width);
                transition: all 0.225s;
            }

            &:before {
                left: 0;
                top: 0;
            }

            &:after {
                right: 0;
                bottom: 0;
            }
        }
    }

    &__line-2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.225s;
        background: color-mix(in srgb, var(--btn-bg-color) 80%, transparent);
        transition-delay: 0.45s;
    }

    &__count {
        opacity: .4;
        margin-left: var(--m4);
    }

    // модификаторы размера
    &--md {
        --btn-height: 2rem;
        --btn-fs: var(--fs10);
    }

    &--sm {
        --btn-height: 1.375rem;
        --btn-fs: var(--fs10);
        --btn-padding: 0 var(--m8);
    }

    // Модификаторы стейта
    &--disabled,
    &:disabled,
    &.swiper-button-lock,
    &[disabled] {
        .btn-disabled();
    }

    &--hidden {
        opacity: 0;
        pointer-events: none !important;
    }

    // Модификаторы цвета

    &--transparent {
        --btn-color: currentColor;
        --btn-hover-color: color-mix(in hsl, currentColor 80%, transparent);
        --btn-active-color: color-mix(in hsl, currentColor 64%, transparent);

        background: none !important;
        border: none !important;
        text-transform: unset;
        font: unset;
        filter: unset;
        box-shadow: none;
    }

    &--white {
        --btn-bg-color: transparent;
        --btn-border-color: @cWhite200;
        --btn-hover-border-color: fade(@cWhite, 8);
    }


    // Типы кнопок
    &--square {
        .size(var(--btn-height));
        padding: 0;
    }

    &--round {
        .size(var(--btn-height));
        padding: 0;
        border-radius: 50%;
    }

    &--bordered {
        .btn {
            &__line {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.2s;

                &:before, &:after {
                    .pseudo();
                    height: var(--btn-border-width);
                    opacity: 1;
                    width: 30px;
                    display: block;
                    background: var(--btn-border-color);
                    transition: all 0.2s;
                    transition-delay: 0.4s;
                }

                &:before {
                    left: 0;
                    top: 0;
                }

                &:after {
                    right: 0;
                    bottom: 0;
                }

                span {

                    &:before, &:after {
                        .pseudo();
                        background: var(--btn-border-color);
                        display: block;
                        width: var(--btn-border-width);
                        height: 50%;
                        transition: all 0.2s;
                        transition-delay: 0.2s;
                    }

                    &:before {
                        left: 0;
                        top: 0;
                    }

                    &:after {
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }

        @hoverRuleset: {
            box-shadow: var(--btn-box-shadow);
            transition-delay: 0.5s;
            transition-duration: .5s;

            .btn {
                &__line {
                    &:before, &:after {
                        width: 30%;
                    }

                    &:before {
                        left: calc(50% - 15%);
                    }

                    &:after {
                        right: calc(50% - 15%);
                    }

                    span {
                        &:before, &:after {
                            height: 0;
                        }
                    }
                }
            }

        }
        .hover(@hoverRuleset: @hoverRuleset, @activeRuleset: @activeRuleset);
    }

}
