.pricing {

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--m24);
    }

    &__title {
        position: relative;
        text-transform: uppercase;
        font: 700 var(--fs32) / 1 @font;
        letter-spacing: var(--letter-spacing);
    }

    &__list {
        display: flex;
        gap: var(--m48);
        justify-content: center;
    }

    &__item {
        flex-shrink: 0;
    }
}