@import "../../_var";

.pricing {
    box-sizing: border-box;
    padding-top: var(--m64);

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--m48);
    }

    &__list {
        display: flex;
        align-items: stretch;
        gap: var(--m48);
        box-sizing: border-box;
        padding: var(--m48) 0;
        margin: calc(-1 * var(--m48)) auto;
        overflow: auto;
    }

    &__item {
        flex-shrink: 0;
        min-width: unit((320 / 16), rem);
        max-width: unit((320 / 16), rem);
    }

    @media @mediaLg {
        &__list {
            gap: var(--m24);
            padding: var(--m48) var(--page-gutter);
            margin-left: calc(-1 * var(--page-gutter));
            margin-right: calc(-1 * var(--page-gutter));
        }
    }

    @media @mediaSm {
        &__item {
            min-width: unit((280 / 16), rem);
            max-width: unit((280 / 16), rem);
        }
    }
}