@import "../../_var";

.pricing-card {
    --shape-offset: var(--m24);
    --shape-upper-left: 0 var(--shape-offset), var(--shape-offset) 0;
    --shape-upper-right: calc(100% - var(--shape-offset)) 0, 100% var(--shape-offset);
    --shape-lower-right: 100% calc(100% - var(--shape-offset)), calc(100% - var(--shape-offset)) 100%;
    --shape-lower-left: var(--shape-offset) 100%, 0 calc(100% - var(--shape-offset));
    --octagon: polygon(var(--shape-upper-left), var(--shape-upper-right), var(--shape-lower-right), var(--shape-lower-left));
    --border-color: @cGray800;
    --bg-color: @cBlack850;
    --inset: 1px;
    --color-marker: @cWhite;

    position: relative;

    &__label {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1;
    }

    &__wrap {
        position: relative;
        box-sizing: border-box;
        padding: var(--m32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--m24);
        color: @cWhite;
        background-color: var(--border-color);
        clip-path: var(--octagon);

        &:before {
            .pseudo();
            inset: var(--inset);
            background-color: var(--bg-color);
            clip-path: var(--octagon);
            z-index: 0;
            pointer-events: none;
        }
    }

    &__title {
        position: relative;
        font: 400 var(--fs24) / 1 @font;
        letter-spacing: var(--letter-spacing);
        text-transform: uppercase;
        z-index: 1;
    }

    &__price {
        position: relative;
        font: 400 var(--fs56) / 1 @font;
        z-index: 1;
    }

    &__info {
        position: relative;
        z-index: 1;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            position: relative;
            font-size: var(--fs16);
            box-sizing: border-box;
            padding-left: var(--m12);
            list-style: none;

            &:before {
                .pseudo();
                .size(var(--m4));
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border-radius: 50%;
                background: var(--color-marker);
                box-shadow: 0 0 var(--m6) color-mix(in srgb, var(--color-marker) 80%, transparent);
            }
        }
    }

    &__btn {
        width: 100%;
    }

    &--popular {
        --border-color: @cRed500;
        --color-marker: @cRed500;

        filter: drop-shadow(0 0 var(--m4) fade(@cRed900, 70)) drop-shadow(0 0 var(--m10) fade(@cRed900, 60)) drop-shadow(0 0 var(--m20) fade(@cRed900, 40));

        .pricing-card {
            &__wrap {
                &:before {
                    box-shadow: inset 0 0 unit((35 /16), rem) fade(@cRed500, 25);
                }
            }
        }
    }
}