@import "../../_var";

.burger-menu {
    .size(100%);
    position: fixed;
    top: var(--default-header-height);
    left: 0;
    box-sizing: border-box;
    padding: var(--m16) var(--page-gutter);
    background: @cBlack700;

    &__nav {
        display: flex;
        flex-direction: column;
        gap: var(--m8);
    }

    &__btn {
        text-align: left;
        justify-content: left;
    }
}