@import "../../_var";

.burger-menu {
    .size(100%);
    position: fixed;
    top: var(--default-header-height);
    left: 0;
    background: @cBlack700;

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__link {
        box-sizing: border-box;
        padding: var(--m24);
        color: @cWhite;
        font-size: var(--fs18);
    }
}