@import "../../_var";

.header {
    .transit(~'background-color', @transitTimeMedium);
    z-index: @headerZIndex;

    &__inner {
        .transit(~'backdrop-filter, background-color, transform, box-shadow', @transitTimeMedium);
        padding: var(--m18) var(--m32);
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--m24);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: var(--m12);
        flex-shrink: 0;
    }

    &__menu-btn {
        --btn-icon-size: unit((20 / 16), rem);
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: var(--gap-anchors, var(--m20));
    }

    &--fixed {
        position: sticky;
        top: 0;

        .header {
            &__inner {
                backdrop-filter: blur(var(--m40)) saturate(180%);
                background-color: fade(@cBlack900, 80);
                box-shadow: 0 1px 1px fade(@cWhite, 8);
            }
        }
    }

    &--hidden {
        .header {
            &__inner {
                transform: translateY(-100%);
            }
        }
    }

    &--open-menu {
        background-color: @cBlack900;
    }

    @media @mediaMoreMd {
        &__menu-btn {
            display: none;
        }
    }

    @media @mediaMd {
        &__inner {
            padding: var(--m14) var(--m16);
        }

        &__btn-bot,
        &__nav {
            display: none;
        }

        &--fixed {
            .header {
                &__inner {
                    backdrop-filter: none;
                    background-color: @cBlack900;
                }
            }
        }
    }
}

