@import "_var";

/****
 * Подключение шрифтов
 ****/

.font(@fontName, @fontFileName, @weight: normal, @style: normal) {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}@{fontFileName}.woff2') format('woff2');
        font-weight: @weight;
        font-style: @style;
        font-display: swap;
    }
}

.variable-font(@fontName, @fontFileName, @style: normal, @range: '') {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}@{fontFileName}.woff2') format('woff2');
        font-style: @style;
        font-display: swap;

        & when (@range) {
            unicode-range: @range;
        }
    }
}

.font(@fontName, 'Rajdhani-Regular', 400);
.font(@fontBaseOrbitron, 'Orbitron-Bold', 700);
.font(@fontBaseOrbitron, 'Orbitron-Black', 900);

:root {
    --font-heading: 'Orbitron', sans-serif;
    --font-body: 'Rajdhani', Arial, sans-serif, -apple-system;
}
