@import "_var";

/****
 * Анимация
 ****/
.transit(@prop: all, @time: @transitTime, @ease: @transitEase) {
    transition-property: e(@prop);
    transition-duration: @time;
    transition-timing-function: @ease;
}

/****
 * Ховеры
 ****/
.hover(@hoverRuleset: false, @focusRuleset: @defaultFocusRuleset, @activeRuleset: @defaultActiveRuleset, @touch: true) {
    & when (@touch = true) {
        @media @mediaNotHover {
            & when not (@hoverRuleset = false) {
                &:active {
                    @hoverRuleset();
                }
            }
        }
    }

    @media @mediaHover {
        & when not (@hoverRuleset = false) {
            &:hover {
                @hoverRuleset();
            }
        }

        & when not (@activeRuleset = false) {
            &:active {
                @activeRuleset();
            }
        }

        & when not (@focusRuleset = false) {
            &:focus-visible {
                @focusRuleset();
            }
        }
    }
}

.btn-active() {
    --btn-icon-color: var(--btn-active-icon-color);

    color: var(--btn-active-color);
    border-color: var(--btn-active-border-color);
    background-color: var(--btn-active-bg-color);
}

.btn-disabled() {
    --btn-icon-color: var(--btn-disabled-icon-color);

    color: var(--btn-disabled-color);
    border-color: var(--btn-disabled-border-color);
    background-color: var(--btn-disabled-bg-color);
}

.btn-animated() {
    --btn-position: var(--btn-position-end);
}

/****
 * Сброс дефолтных стилей
 ****/
.clear-input() {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
    resize: none;
    box-shadow: none;
    font-family: @font;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    appearance: none;

    &:focus {
        outline: none;
    }

    &::-ms-reveal,
    &::-ms-clear {
        display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

    //noinspection CssInvalidPseudoSelector
    &::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    //Скрываем стрелки
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type=number] {
        -moz-appearance: textfield;
    }
}

.clear-btn() {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    cursor: pointer;
    text-align: inherit;
    -webkit-tap-highlight-color: transparent;
    color: currentColor;
}

.clear-link(@color: currentColor) {
    color: @color;
    text-decoration: none;
    outline: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    -webkit-tap-highlight-color: transparent;
}

.clear-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear-form() {
    margin: 0;
}

.hide-input() {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    //noinspection CssUnknownProperty
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
}

/****
 * Sizes
 ****/
.size(@width, @height: @width) {
    width: @width;
    height: @height;
}

@column: 100%;
.column(@count: 1, @total: @columnsCount, @columnGap: var(--grid-gap)) {
    @column: calc(@count * (100% - @columnGap * (@total - 1)) / @total + @columnGap * (@count - 1));
}

.column-property(@prop: '', @count: 1, @total: @columnsCount, @columnGap: var(--grid-gap)) {
    .column(@count, @total, @columnGap);
        @{prop}: @column;
}

// Стандартная сетка
// Преимущество использования calc вместо fr - сетку не разносит контентом
.grid(@total: @columnsCount, @columnGap: var(--grid-gap), @rowGap: @columnGap) {
    .template-columns(@total, @columnGap);
    display: grid;
    grid-column-gap: @columnGap;
    grid-row-gap: @rowGap;
}

// Используется для изменения grid-template-columns у .grid(), например, на адаптиве
.template-columns(@total: @columnsCount, @columnGap: var(--grid-gap)) {
    .column(1, @total, @columnGap);
    grid-template-columns: repeat(@total, @column);
}

// Используется, если нужно установить блоку ширину по сетке без использования grid
.column-width(@count: 1, @total: @columnsCount, @gap: var(--grid-gap)) {
    .column(@count, @total, @gap);
    width: @column;
}

// Блоки, пропорционально изменяющие высоту в зависимости от ширины
.proportional-size(@ratio: 1, @position: relative, @minHeight: 0px, @maxHeight: 9999999rem) {
    position: @position;

    &:before {
        position: relative;
        content: '';
        display: block;
        padding-bottom: ~'clamp(@{minHeight}, @{ratio} * 100%, @{maxHeight})';
    }
}

/****
 * Разное
 ****/
.pseudo(@position: absolute) {
    content: '';
    position: @position;


    & when (@position = relative) {
        display: inline-block;
        vertical-align: middle;
    }
}

.line-clamp(@line-count: 3) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    //noinspection CssUnknownProperty
    -webkit-line-clamp: @line-count;
}

.picture(@ratio: 1, @fit: scale-down, @position: relative, @overflow: hidden, @size: 100%, @minHeight: 0rem, @maxHeight: 9999999px, @overlay: false) {
    .proportional-size(@ratio, @position, @minHeight, @maxHeight);

    overflow: @overflow;
    transform: translateZ(0); // fix safari квадратные углы у картинок

    img, picture, video, .sx-video {
        .size(@size);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        object-fit: @fit;
        border-radius: inherit;
        transform: translateZ(0); // fix safari квадратные углы у картинок
    }

    & when not(@overlay = false) {
        &:after {
            .pseudo();
            .size(100%);
            top: 0;
            left: 0;
            z-index: 2;
            background: @overlay;
            border-radius: inherit;
        }
    }
}

.picture-fit(@fit: cover, @width: 100%, @height: 100%) {
    picture, img, video {
        .size(@width, @height);
        display: block;
        object-fit: @fit;
        border-radius: inherit;
    }
}

// Используется для того, чтобы у блока не было разрывов при печати и при использовании columns у родителя
.avoid-break() {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.responsive(@name, @size, @ratio) {
    // responsive генерирует плравила только для @media, чтобы в _var.less оставалось объявление переменной, и шторм ее видел
    //@{name}: @size;

    @media @mediaXl {
        @value: (@size) * @ratio;
            @{name}: ~'round(@{value}, 1px)';
    }

    @media @mediaLg {
        @value: (@size) * pow(@ratio, 2);
            @{name}: ~'round(@{value}, 1px)';
    }

    @media @mediaMd {
        @value: (@size) * pow(@ratio, 3);
            @{name}: ~'round(@{value}, 1px)';
    }

    @media @mediaSm {
        @value: (@size) * pow(@ratio, 4);
            @{name}: ~'round(@{value}, 1px)';
    }

    @media @mediaXs {
        @value: (@size) * pow(@ratio, 5);
            @{name}: ~'round(@{value}, 1px)';
    }
}

.cover() {
    .size(100%);
    position: absolute;
    top: 0;
    left: 0;
}

.container(@width, @height: @width) {
    .size(@width, @height);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
}

.link-common() {
    .clear-btn();
    .clear-link(var(--link-color));
    .transit();
    display: inline-flex;
    align-items: center;
    gap: var(--link-gap);
    cursor: pointer;
    text-decoration-color: color-mix(in hsl, var(--link-border-color) 60%, transparent);
    will-change: color, opacity, transform, text-decoration-color;

    .hover({
        color: var(--link-hover-color);
        text-decoration-color: var(--link-hover-border-color);

        .link {
            &__icon {
                color: var(--link-hover-icon-color);
            }
        }
    });
}

.blur(@value) {
    /* autoprefixer: ignore next */
    -webkit-backdrop-filter: blur(@value);
    backdrop-filter: blur(@value);
}

.black-panel() {
    .blur(0.5rem);

    background: linear-gradient(229deg, fade(@cBlack, 16) 51.29%, fade(@cBlack, 48) 100%);
    box-shadow: calc(-1 * 0.125rem) 0.125rem 0.75rem 0 fade(@cBlack, 16) inset;
}

.link-uline-common() {
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.25rem;
    text-underline-position: left;
}

.title-block(@fontSize: var(--fs48)) {
    font: 400 @fontSize / 1 @font;
    letter-spacing: var(--letter-spacing);
}

.round-rem(@property
,
@value) {
    @rem-value: (@value / 16);
        @{property}: ~"round(@{rem-value}rem, 1px)";
}