@import "../../_var";

.anchors-link {
    display: flex;
    align-items: center;
    gap: var(--gap-anchors, var(--m20));

    &--col {
        flex-direction: column;
        align-items: flex-start;
    }
}